---
layout: default
title: La Fromagerie en ligne
---
<script>
/* Hide menu after click
----------------------------------------------*/
$('.navbar-nav li a').click(function(event) {
		$('.in').collapse('hide');
});

/* Smooth scroll to section
----------------------------------------------*/
$('a.scroll[href*=#]:not([href=#])').click(function() {
		if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

				var target = $(this.hash);
				target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
				if (target.length) {
						$('html,body').animate({
								scrollTop: target.offset().top-70
						}, 2000);
						return false;
				}
		}
});
</script>


<div class="hero" style="background: url('{{ site.baseurl }}/img/{{ site.hero.hero_img }}') no-repeat; background-size: cover;">
	<div class="hero-content">
		<div class="container-fluid">
			<div class="hero-content-inner">
				<h1>{{ site.hero.hero_title }}</h1>
				<p>{{ site.hero.hero_description }}</p>
			</div>
		</div>
	</div>
	<div class="container-fluid"></div>
</div>

<!-- Start About -->
<div id="about" class="about">
	<div class="container-fluid">
		<!-- <h2 class="section-title">À propos</h2> -->

		<div class="row">
			<div class="col-sm-6">
				<h3>{{ site.descr.titre }}</h3>
				<p>{{ site.descr.intro }}</p>

				{% for desc in site.data.desc %}
				<div class="media">
					<div class="media-left">
						{{ desc.icon }}
					</div>
					<div class="media-body">
						<p>{{ desc.desc }}</p>
					</div>
				</div>
				<div class="">
					{% endfor %}
					<br>
					<div class="media-right">
						{% if site.facebook %}<a target=_blank href="{{ site.facebook }}"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>{% endif %}
						{% if site.instagram %}<a target=_blank href="{{ site.instagram }}"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>{% endif %}
						{% if site.twitter %}<a target=_blank href="{{ site.twitter }}"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>{% endif %}
						<!-- {% if site.gplus %}<a href="{{ site.gplus }}"><svg class="icon icon-google"><use xlink:href="#icon-google"></use></svg></a>{% endif %} -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<img src="img/about.jpg" alt="...">
	</div>
	<div class="col-sm-4">
		<br>
		<div id="info"></div>
		<h3>
			<i class="fa fa-clock-o" aria-hidden="true"></i>
			{{ site.oh }}
		</h3>
		<p>
			<i class="fa fa-envelope" aria-hidden="true"></i>
			<a href="mailto:{{ site.contact }}"> {{ site.contact }}</a><br>
			<i class="fa fa-phone" aria-hidden="true"></i> {{ site.phone }}
		</p>
		<table>
			<tbody>
				<tr>
					<td>Lundi </td>
					<td> {{ site.Lundi }}</td>
				</tr>
				<tr>
					<td>Mar./vend. </td>
					<td> {{ site.Mardivendredi }}</td>
				</tr>
				<tr>
					<td>Samedi </td>
					<td> {{ site.Samedi }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</div>
</div>
<!-- End About -->

<div id="map" style="align:center width: 600px; height: 330px"></div>
<script>
var map = L.map('map').setView([45.44306, 4.38622], 18);
L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
	attribution: '&copy; <a href="https://osmlab.github.io/attribution-mark/copyright/?name=FromagerieBaret">OpenStreetMap</a> contributors'
}).addTo(map);

var marker = L.marker([45.44306, 4.38622]).addTo(map);
marker.bindPopup(
	"<center><b>Fromagerie Baret</b><br>" +
	"14 rue Charles de Gaulle, <br>42000 Saint Etienne, FRANCE<br>" +
	"<a target='_blank' href='https://www.mapillary.com/app/index/?focus=map&pKey=_a0bk6u_qhYPQ4lup9dysw&lat=45.44321216&lng=4.38592969&z=17&menu=false'>" +
	"<img src='{{ site.baseurl }}/img/mapillary.png' alt='street view' height='180' width='180'></a></center>"
).openPopup();
map.scrollWheelZoom.disable();
</script>

<!-- Start Testimonials -->
<div id="testimonials" class="testimonials parallax" style="background-image: url('{{ site.baseurl }}/img/{{ site.testimonials.testimonials_img }}');">
	<div class="overlay-container">
		<div class="overlay">
		</div>
		<div class="container-fluid">
		</div>
		<div class="container-fluid">
			<h2 class="section-title">{{ site.newsletters }}</h2>
				<a class="btn" target=_blank href="{{ site.mailchimps}}">
					<i class="fa fa-envelope fa-3x"></i>
				</a>
			<div id="produits"></div>
		</div>
	</div>
</div>
