/* FOOTER
-------------------------------------------------*/
.main-footer {
    @extend %space;
    color: $fbdarker;
    background: lighten($colorPrimary, 2%);
    text-align: center;
    small {
        display: block;
    }
}
